.bar {
  fill: #4caf50;
  margin-right: 60px;
}

.backData {
  fill: rgba(170, 111, 172, 1);
}

.dbData {
  fill: rgba(232, 84, 152, 1);
  clip-path: inset(0px 0px 0px 0px round 0px 0px 10px 10px); 
}

.frontData {
  fill: rgba(74, 182, 232, 1);
  clip-path: inset(0px 0px 0px 0px round 10px 10px 0px 0px); 
}

.barBackground {
  fill: none;
}

.bar.norm {
  fill: #f44336;
}